<!DOCTYPE html>
<head>
	<title>Coursia - The Concordia Course Registration Helper</title>
	<meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script type="text/javascript" src="scripts.js"></script>
</head>
<body>
    <h1>Coursia</h1>
    <p>Enter the course code in the box below to view its current status.</p>
    <form action="/" method="post">
        <input name="subject" type="text" placeholder="Enter course code department" required>
        <input name="catalog" type="text" placeholder="Enter course code number" required>
        <input type="submit" value="Test button">
    </form>
    <% if (catalog !== null){ %>
        <table border="1px">
            <tr>
                <th><%= "Title" %></th>
                <th><%= "Course Code" %></th>
                <th><%= "Prerequisites" %></th>
            </tr>
            <% for (var i=0; i<catalog.length; i++) { %>
            <tr>
                <td><%= catalog[i].title %></td>
                <td><%= `${catalog[i].subject} ${catalog[i].catalog}` %></td>
                <td><%= catalog[i].prerequisites %></td>
            </tr>
            <% } %>
        </table>
    <% } %>
    <% if (error !== null){ %>
        <p><%= error %></p>
    <% } %>
</body>
</html>